.publish-article
{
    width: 100vw;
    min-height: 100vh;
    padding: 1rem;
    background: white;
    display: flex;
    justify-content: center;
    position: relative;
    height: 100vh;
    
}

.write-article
{
    position: absolute;
    top: 0;
    width: 140vmin;
    min-height: 100vh;
    padding: 3rem;
    background: #181c22;
}

.card-header
{
    justify-content: space-between;
    display: flex;
    gap: 1rem;
    padding: .5rem;
    align-items: center;
    margin-bottom: 1rem;
}

.card-header h3
{
    font-size: 2rem;
}

.new-art-btn
{
    color: #fff;
    font-size: 1rem;
    padding: .6rem .8rem;
    border: 2px solid #ffffff;
    transition: .5s;
    background: transparent;
    cursor: pointer;
}

.new-art-btn:hover
{
    color: #000;
    background: #fff;
    letter-spacing: .07rem;
    border-radius: .8rem;
    transition: .5s;

}
.art-title{
    background: transparent;
    color: #fff;
    font-size: 1.3rem;
    padding: .3rem;
    border: none;
    width: 100%;
    outline: none;
    margin-bottom: .5rem;
    border-bottom: 1px solid lightgray;
}
.delete-btn
{
    color: #fff;
    font-size: 1rem;
    padding: .6rem .8rem;
    border: 2px solid #ffffff;
    transition: .5s;
    background: transparent;
    cursor: pointer;
    margin-left: .5rem;
}

.delete-btn:hover
{
    color: #000;
    background: #fff;
    letter-spacing: .07rem;
    border-radius: .8rem;
    transition: .5s;

}
.update-btn
{
    color: #fff;
    font-size: 1rem;
    padding: .6rem .8rem;
    border: 2px solid #ffffff;
    transition: .5s;
    background: transparent;
    cursor: pointer;
}

.update-btn:hover
{
    color: #000;
    background: #fff;
    letter-spacing: .07rem;
    border-radius: .8rem;
    transition: .5s;

}

.footer-body p
{
    margin-top: 2rem;
    text-align: center;
    font-size: 1.18rem;
}




































































